@{
    ViewBag.Title = "CapNhatNews";
    Layout = "~/Views/Share/_LayoutMainControl.cshtml";
}

<h2 id="Tua">Cập nhật tin tức</h2>
<button>@Html.ActionLink("Thêm tin tức", "Add_News", "NEWS")</button>