<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div id="logo" style="padding-left: 530px; padding-top: 10px">
        <img src="~/Content/anh/taiLieu.PNG" width="275" height="100"
             alt="Logo cổng tài liệu điện tử Trường Đại học Đồng Tháp" />
    </div>
    <div id="wapperLogin">
        <div id="Log">
            @RenderBody()
        </div>
    </div>
</body>
</html>
