@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutMainControl.cshtml";
}

<h2 id="Tua">MAIN CONTROL</h2>
@*@Html.Raw(Session["menu"])<br /><br /><br />*@


@*
<ul id="css3menu1" class="topmenu">
	<li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
	<li class="topfirst"><a href="#" style="height:18px;line-height:18px;">Item 0</a></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span>Item 1</span></a>
	</li>
	<li class="toplast"><a href="#" style="height:18px;line-height:18px;">Item 2</a></li>
</ul>
*@