
@{
    ViewBag.Title = "boMon";
    Layout = "~/Views/Share/_LayoutFirst.cshtml";
}
@section Slider{
    <div id="SliderGioiThieu">
    </div>
}
<h2>Bộ môn</h2>

<h3>Giới thiệu về Bộ môn Công nghệ - Thông tin</h3>
<p>
    Bộ môn Công nghệ thông tin (CNTT) trực thuộc Khoa Sư phạm Toán - Tin, đảm trách chuyên ngành CNTT và Sư phạm Tin học, các học phần Tin học, Tin học ứng dụng, Tin học chuyên ngành cho các ngành học khác; nghiên cứu khoa học và chuyển giao công nghệ; hợp tác trong lĩnh vực CNTT.
</p>
<p>
    LỊCH SỬ HÌNH THÀNH

    Lịch sử phát triển của Bộ môn Công nghệ thông tin bắt đầu từ năm 2003, tiền thân là Khoa Công nghệ Thông tin. Trải qua nhiều năm đào tạo nguồn nhân lực trong lĩnh vực Sư phạm và ngoài sư phạm, Khoa Công nghệ thông tin đã góp phần vào sự phát triển của Trường Đại học Đồng Tháp. Đến năm 2013, Khoa Công nghệ Thông tin đã hoàn thành tốt nhiệm vụ được giao, trước yêu cầu đổi mới để phù hợp với sự phát triển, Khoa Công nghệ Thông Tin sáp nhập với Khoa Toán học thành lập khoa Sư phạm Toán – Tin, giai đoạn này có 2 Bộ môn gồm Hệ thống Thông tin và Khoa học máy tính.

    Ngày 21/03/2018, sự chuyển đổi cơ cấu và tái cấu trúc các đơn vị trực thuộc trường Đại học Đồng Tháp giai đoạn 2017 – 2022, Bộ môn Công nghệ Thông tin được thành lập, trực thuộc Khoa Kỹ thuật – Công nghệ. Thực hiện theo đề án số 1028/ĐA-ĐHĐT, ngày 27 tháng 10 năm 2020, Bộ môn Công nghệ Thông tin sáp nhập vào Khoa Sư phạm Toán học, thành lập Khoa Sư phạm Toán - Tin.

    NHÂN SỰ

