@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Share/_LayoutFirst.cshtml";
}
@section Slider{
    <div id="SliderGioiThieu">
    </div> 
}
<h2 id="Tua">Giới thiệu</h2>

<p>
    Ngày nay, hầu hết các ngành, lĩnh vực đều ứng dụng phần mềm quản lý vào trong hệ thống của mình. Do đó, ngành CNTT đã đang và ngày càng phát triển. Nắm được xu thế đó, em nhận thấy các sinh viên ngành công nghệ thông tin đang học tại trường có nhu cầu lớn về việc tra cứu tài liệu, đọc các tài liệu về chuyên ngành của mình, nhất là từ các anh chị khóa trên để lại. Ngoài ra với những tài liệu không yêu cầu bản quyền hoặc được sự cho phép của tác giả, các bạn sinh viên mong muốn được tải về để in ra làm tài liệu hỗ trợ việc học tập, nghiên cứu. Vậy nên, cần có một Website để tra cứu tài liệu, có cả chức năng đóng góp, kiểm duyệt tài liệu.
    Mặc khác, với tinh thần “Chia sẽ, cùng nhau xây dựng – phát triển, nền tảng bền vững” Và vì thế, em sẽ xây dựng diễn đàn hỏi đáp, sửa lỗi lập trình nhằm giúp các bạn sinh viên có thể dễ dàng tiếp cận việc học lập trình hơn. Đây là nơi mọi người có thể đặt các câu hỏi về các lỗi khi lập trình hoặc có thể giải đáp lỗi cho người khác. Mỗi đóng góp sửa lỗi có ích sẽ nhận được về lượt Like tương xứng, đều này cũng góp phần đánh giá trình độ của người sửa lỗi.
    Website sẽ bao gồm các chức năng chính như: đăng tải tin tức, đóng góp - kiểm duyệt tài liệu, diễn đàn sửa lỗi lập trình, bình luận tài liệu – tin tức dựa vào tài khoản Facebook. Máy chủ sử dụng là somee.com
</p>

